<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033125464171-iq8h74qr210s8q465mgh3ohvock96bq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033125464171-iq8h74qr210s8q465mgh3ohvock96bq2</string>
	<key>API_KEY</key>
	<string>AIzaSyDD3CB_sDun6P-UHbMVsxsJyDrgN7eR_aA</string>
	<key>GCM_SENDER_ID</key>
	<string>1033125464171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jp.Kingdom-Game</string>
	<key>PROJECT_ID</key>
	<string>kingdomgame-8ae32</string>
	<key>STORAGE_BUCKET</key>
	<string>kingdomgame-8ae32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033125464171:ios:d8f6c964c59536a324892e</string>
</dict>
</plist>